<head>
  <meta charset="UTF-8" />
  <title>MY WEBSITE IN EXPRESS</title>
  <meta http-equiv="X-UE-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body link="#6699CC" vlink="#00FFCC" alink="#CC00FF">
  <div class="title">
    <h1> AT PRESENT IN MAIN SITE ONLY NAV </h1>

  </div>
  <div id="nav">
    <hr />
    <a href="/">Main site</a>
    <hr />
    <a href="/date">Show date</a>
    <hr />
    <a href="/buttons">buttons</a>
    <hr />

  </div>
  <div id="content">
    <form name="f1" action="/scrip.js">
      <input type="hidden" name="czas" />
      <input type="button" value="start" onclick="stoper(1)" />
      <input type="button" value="stop" onclick="stoper(0)" />
    </form>

    <script type="text/javascript" src="/script.js"></script>

  </div>
</body>